*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Roboto",sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.app{
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 600px;
    background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}
.app > .screen{
    display: none;
}
.app > .screen.active{
    display: block;
    width: 100%;
    height: 100%;
}
.screen .form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 400px;
}
.screen .form-input{
    width: 100%;
    margin: 20px 0px;
}
.screen h2{
    margin-bottom: 20px;
    font-size: 30px;
    color: #111;
    border-bottom: 4px solid #555;
    padding: 5px 0px;
    display: inline-block;
}
.screen h3{
    margin-bottom: 20px;
    font-size: 15px;
    color: #111;
    border-bottom: 4px solid #555;
    padding: 5px 0px;
    display: inline-block;
}
.screen .form-input label{
    display: block;
    margin-bottom: 5px;
}
.screen .form-input input{
    width: 100%;
    padding: 10px;
    border: 1px solid #555;
    font-size: 16px;
}
.screen .form-input button{
    padding: 10px 20px;
    background: #111;
    color: #eee;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border: none;
}
.chat-screen .header{
    background: #111;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.chat-screen .header .logo{
    font-size: 18px;
    color: #eee;
    font-weight: 600;
}
.chat-screen .header button{
    padding: 5px 10px;
    border: 1px solid #eee;
    background: transparent;
    color: #eee;
    font-size: 15px;
    cursor: pointer;
    outline: none;
}
/* .chat-screen .messages{
    width: 100%;
    height: calc(100% - 100px);
    background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
    overflow: auto;
} */
.chat-screen .messages {
    width: 100%;
    height: calc(100% - 100px);
    background-image: url('https://picsum.photos/1080/1920?random=1'); /* Replace with your image path */
    background-size: cover; /* Adjust to your needs (cover, contain, etc.) */
    background-repeat: no-repeat;
    background-position: center;
    overflow: auto;
}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}
.chat-screen .messages .message{
    display: flex;
    padding: 10px;
}
.chat-screen .messages .message > div{
    max-width: 80%;
    background: #fff;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.05);
    padding: 10px;
}
.chat-screen .messages .message.my-message{
    justify-content: flex-end;
}
.chat-screen .messages .message.other-message{
    justify-content: flex-start;
}
.chat-screen .messages .message .name{
    font-size: 15px;
    color: black;
    margin-bottom: 5px;
}
.chat-screen .messages .message .text{
    word-wrap: break-word;
}
.chat-screen .messages .update{
    text-align: center;
    padding: 10px;
    font-style: italic;
}
.chat-screen .typebox{
    width: 100%;
    height :50px;
    display: flex;
}
.chat-screen .typebox input{
    flex: 1;
    height: 50px;
    font-size: 18px;
}
.chat-screen .typebox button{
    width: 80px;
    height: 100%;
    background: #111;
    color: #eee;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
}
#preloader {
    background: #000 url(images/loader.gif) no-repeat center center;
    background-size: 55%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
